{
	"presets": [["env", {
		"targets": {
			"node": "current",
			"modules": "commonjs",
		},
	}], "stage-3"],
	"plugins": ["transform-async-to-generator", ["transform-runtime", {
		"polyfill": false,
		"regenerator": true,
	}]],
}
