<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>404</title>
		<link rel="stylesheet" type="text/css" href="./src/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="./src/css/global.css" />
	</head>
	<body>
		你找到页面没有找到哦
	</body>
</html>
