<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>50x</title>
		<link rel="stylesheet" type="text/css" href="./src/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="./src/css/global.css" />
	</head>
	<body>
		错误页面
	</body>
</html>
